extends base

block title
  | System users

block main
  h2 System users

  if message != ''
    .alert.alert-notice
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      | #{message}

  table.table.table-striped
    tr
      th Name
      th Username
      th Email
      th Created
      th Surname
      th Birthday
    each user in users
      tr
        td.dropdown
          a(class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown")= user.name
            ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
              li
                a(role="menuitem" tabindex="-1" href="#3")= user.name 
              li
                a(role="menuitem" tabindex="-1" href="#")= user.username
              li
                a(role="menuitem" tabindex="-1" href="#")= user.email
              li
                a(role="menuitem" tabindex="-1" href="#")= user.created.toDateString()
        td= user.username
        td= user.email
        td= user.created.toDateString()
        td= user.surname
        td= user.birthday